.top-header {
    background-color: $black;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    color: $white;
    &__wrapper {
        max-width: 1109px;
        margin: 0 auto;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
    }
    &__navigation {
        flex-grow: 1;
        & > ul {
            display: flex;
            justify-content: space-evenly;
        }
    }
    &__nav-item {
        display: inline-block;
        list-style: none;
    }
    &__btn {
        width: 120px;
        height: 47px;
        border: none;
        padding: 13px 26px;
        color: $white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        &-login {
            color: $white;
            background-color: transparent;
            transition: color 0.3s;
            &:hover {
                @extend %link-hover;
            }
        }
        &-reg {
            background-color: $french-rose;
            border-radius: 5px;
            transition: 0.3s;
            &:hover {
                @extend %btn-hover;
            }
        }
    }
    &__nav-link {
        color: $white;
        transition: color 0.3s;
        &:hover {
            @extend %link-hover;
        }
    }
}
