.page-footer {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    background-color: $black;
    color: $white;
    &__wrapper {
        max-width: 1109px;
        margin: 0 auto;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__logo-wrapper {
        width: 100%;
    }
    &__bottom-conteiner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-top: 1px solid $ship-gray;
        padding-top: 34px;
        font-family: "Lato";
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 27px;
        color: $manatee;
    }
}
.social-conteiner {
    display: flex;
    flex-wrap: wrap;
    width: 49%;
    padding-bottom: 30px;
    &__link {
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__description {
        width: 76%;
    }
    &__icons {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
}
.icon {
    display: flex;
    &__fb {
        margin-right: 34px;
        background: url(/image/svg/facebook.svg) no-repeat;
    }
    &__in {
        margin-right: 34px;
        background: url(/image/svg/linkedin.svg) no-repeat;
    }
    &__isg {
        margin-right: 34px;
        background: url(/image/svg/instagram.svg) no-repeat;
    }
    &__tw {
        background: url(/image/svg/twitter.svg) no-repeat;
    }
}
.inform-conteiner {
    width: 49%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.inform {
    &__address {
        width: 441px;
        font-size: 14px;
        line-height: 22px;
        text-align: right;
        color: $manatee;
    }
    &__text {
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: $manatee;
        & > span {
            color: $white;
        }
    }
}
.bottom-nav,
.bottom-conteiner {
    &__link {
        display: inline-block;
        list-style: none;
        margin-left: 25px;
        & > a {
            color: $white;
            transition: color 0.3s;
            &:hover {
                @extend %link-hover;
            }
        }
    }
}
