$black: #000000;
$mine-shaft: #1F1F1F;
$white: #ffffff;
$french-rose: #ea5289;
$ship-gray: #36343c;
$eminence: #773288;
$lavender-gray: #c8afd7;
$manatee: #8d889c;
$emperor: #524C4C;


$padding-xlg: 15.3125%;
$page-size: 1600px;
$vwidth: 1110px;
$screen-sd: 320px;
$screen-min-sd: 480px;
$screen-max-md: 767px;
$screen-md: 768px;
$screen-max-lg: 1023px;
$screen-lg: 1024px;
$screen-xl: 1600px;